<div class="container">  
  <div class="content">
    <div class="row">
      <div class="col-sm-8">
<h1>New Institution</h1>

<%= render 'form' %>

<%#= link_to 'Back', institutions_path %>

	   </div>
	</div>
  </div>
</div>

