<%= stylesheet_link_tag 'styles' %>

<div class="container">  
  <div class="content">
    <div class="row">
      <div class="col-md-12 text-center"><h1>All Articles</h1></div>
  			<div class="col-sm-8 col-sm-offset-1">
          <div class="list-group" id="list1">
			  		<% @articles.each do |article| %>
			        <%= link_to article.title, article_path(article), class: 'list-group-item' %>
			        
			    <p class="help-block"><%= time_ago_in_words(article.created_at, include_seconds: true)%></p>
					  <% end %>
				  </div>					  
						<%= link_to "Create a New Article", new_article_path, class: "btn btn-success" %>
					</div>
				</div>
			</div>			
    </div>
  </div>
</div>