
<a href="/auth/twitter" class="button">
Twitter
</a>


<div class="clear"></div>
<% unless user_signed_in? %>

<p>
<strong>No usas twitter?</strong> </br>
<%= link_to "Sign up", new_user_registration_path %> o
<%= link_to "sign in", new_user_session_path %> con una contrasena.
</p>

<% end %>