<div class="container">  
  <div class="content">
    <div class="row">
</br>
	<h1>Articles Tagged </h1>
<h1>Articles Tagged with <%= @tags.name %></h1>

<ul>
  <% @tags.each do |article| %>
    <li><%= link_to tag.article.title, article_path(article) %></li>
  <% end %>
</ul>
			
    </div>
  </div>
</div>